@media (min-width: 576px) {
  .sm:mt-1 {
    margin-top: 1rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-1 {
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-1 {
    margin-right: 1rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-1 {
    margin-left: 1rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-1 {
    padding: 1rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-1 {
    padding-top: 1rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-1 {
    padding-bottom: 1rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-1 {
    padding-right: 1rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-1 {
    padding-left: 1rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-2 {
    margin-top: 2rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-2 {
    margin-bottom: 2rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-2 {
    margin-right: 2rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-2 {
    margin-left: 2rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-2 {
    padding: 2rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-2 {
    padding-top: 2rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-2 {
    padding-bottom: 2rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-2 {
    padding-right: 2rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-2 {
    padding-left: 2rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-3 {
    margin-top: 3rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-3 {
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-3 {
    margin-right: 3rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-3 {
    margin-left: 3rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-3 {
    padding: 3rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-3 {
    padding-top: 3rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-3 {
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-3 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-3 {
    padding-left: 3rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-4 {
    margin-top: 4rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-4 {
    margin-bottom: 4rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-4 {
    margin-right: 4rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-4 {
    margin-left: 4rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-4 {
    padding: 4rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-4 {
    padding-top: 4rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-4 {
    padding-bottom: 4rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-4 {
    padding-right: 4rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-4 {
    padding-left: 4rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-5 {
    margin-top: 5rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-5 {
    margin-bottom: 5rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-5 {
    margin-right: 5rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-5 {
    margin-left: 5rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-5 {
    padding: 5rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-5 {
    padding-top: 5rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-5 {
    padding-bottom: 5rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-5 {
    padding-right: 5rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-5 {
    padding-left: 5rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-6 {
    margin-top: 6rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-6 {
    margin-bottom: 6rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-6 {
    margin-right: 6rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-6 {
    margin-left: 6rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-6 {
    padding: 6rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-6 {
    padding-top: 6rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-6 {
    padding-bottom: 6rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-6 {
    padding-right: 6rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-6 {
    padding-left: 6rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-7 {
    margin-top: 7rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-7 {
    margin-bottom: 7rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-7 {
    margin-right: 7rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-7 {
    margin-left: 7rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-7 {
    padding: 7rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-7 {
    padding-top: 7rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-7 {
    padding-bottom: 7rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-7 {
    padding-right: 7rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-7 {
    padding-left: 7rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-8 {
    margin-top: 8rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-8 {
    margin-bottom: 8rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-8 {
    margin-right: 8rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-8 {
    margin-left: 8rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-8 {
    padding: 8rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-8 {
    padding-top: 8rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-8 {
    padding-bottom: 8rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-8 {
    padding-right: 8rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-8 {
    padding-left: 8rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-9 {
    margin-top: 9rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-9 {
    margin-bottom: 9rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-9 {
    margin-right: 9rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-9 {
    margin-left: 9rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-9 {
    padding: 9rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-9 {
    padding-top: 9rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-9 {
    padding-bottom: 9rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-9 {
    padding-right: 9rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-9 {
    padding-left: 9rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-10 {
    margin-top: 10rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-10 {
    margin-bottom: 10rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-10 {
    margin-right: 10rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-10 {
    margin-left: 10rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-10 {
    padding: 10rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-10 {
    padding-top: 10rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-10 {
    padding-bottom: 10rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-10 {
    padding-right: 10rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-10 {
    padding-left: 10rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-11 {
    margin-top: 11rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-11 {
    margin-bottom: 11rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-11 {
    margin-right: 11rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-11 {
    margin-left: 11rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-11 {
    padding: 11rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-11 {
    padding-top: 11rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-11 {
    padding-bottom: 11rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-11 {
    padding-right: 11rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-11 {
    padding-left: 11rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-12 {
    margin-top: 12rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-12 {
    margin-bottom: 12rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-12 {
    margin-right: 12rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-12 {
    margin-left: 12rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-12 {
    padding: 12rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-12 {
    padding-top: 12rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-12 {
    padding-bottom: 12rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-12 {
    padding-right: 12rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-12 {
    padding-left: 12rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-13 {
    margin-top: 13rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-13 {
    margin-bottom: 13rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-13 {
    margin-right: 13rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-13 {
    margin-left: 13rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-13 {
    padding: 13rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-13 {
    padding-top: 13rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-13 {
    padding-bottom: 13rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-13 {
    padding-right: 13rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-13 {
    padding-left: 13rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-14 {
    margin-top: 14rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-14 {
    margin-bottom: 14rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-14 {
    margin-right: 14rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-14 {
    margin-left: 14rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-14 {
    padding: 14rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-14 {
    padding-top: 14rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-14 {
    padding-bottom: 14rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-14 {
    padding-right: 14rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-14 {
    padding-left: 14rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mt-15 {
    margin-top: 15rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mb-15 {
    margin-bottom: 15rem !important;
  }
}

@media (min-width: 576px) {
  .sm:mr-15 {
    margin-right: 15rem !important;
  }
}

@media (min-width: 576px) {
  .sm:ml-15 {
    margin-left: 15rem !important;
  }
}

@media (min-width: 576px) {
  .sm:p-15 {
    padding: 15rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pt-15 {
    padding-top: 15rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pb-15 {
    padding-bottom: 15rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pr-15 {
    padding-right: 15rem !important;
  }
}

@media (min-width: 576px) {
  .sm:pl-15 {
    padding-left: 15rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-1 {
    margin-top: 1rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-1 {
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-1 {
    margin-right: 1rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-1 {
    margin-left: 1rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-1 {
    padding: 1rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-1 {
    padding-top: 1rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-1 {
    padding-bottom: 1rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-1 {
    padding-right: 1rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-1 {
    padding-left: 1rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-2 {
    margin-top: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-2 {
    margin-bottom: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-2 {
    margin-right: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-2 {
    margin-left: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-2 {
    padding: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-2 {
    padding-top: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-2 {
    padding-bottom: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-2 {
    padding-right: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-2 {
    padding-left: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-3 {
    margin-top: 3rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-3 {
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-3 {
    margin-right: 3rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-3 {
    margin-left: 3rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-3 {
    padding: 3rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-3 {
    padding-top: 3rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-3 {
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-3 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-3 {
    padding-left: 3rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-4 {
    margin-top: 4rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-4 {
    margin-bottom: 4rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-4 {
    margin-right: 4rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-4 {
    margin-left: 4rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-4 {
    padding: 4rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-4 {
    padding-top: 4rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-4 {
    padding-bottom: 4rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-4 {
    padding-right: 4rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-4 {
    padding-left: 4rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-5 {
    margin-top: 5rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-5 {
    margin-bottom: 5rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-5 {
    margin-right: 5rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-5 {
    margin-left: 5rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-5 {
    padding: 5rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-5 {
    padding-top: 5rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-5 {
    padding-bottom: 5rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-5 {
    padding-right: 5rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-5 {
    padding-left: 5rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-6 {
    margin-top: 6rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-6 {
    margin-bottom: 6rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-6 {
    margin-right: 6rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-6 {
    margin-left: 6rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-6 {
    padding: 6rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-6 {
    padding-top: 6rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-6 {
    padding-bottom: 6rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-6 {
    padding-right: 6rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-6 {
    padding-left: 6rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-7 {
    margin-top: 7rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-7 {
    margin-bottom: 7rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-7 {
    margin-right: 7rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-7 {
    margin-left: 7rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-7 {
    padding: 7rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-7 {
    padding-top: 7rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-7 {
    padding-bottom: 7rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-7 {
    padding-right: 7rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-7 {
    padding-left: 7rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-8 {
    margin-top: 8rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-8 {
    margin-bottom: 8rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-8 {
    margin-right: 8rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-8 {
    margin-left: 8rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-8 {
    padding: 8rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-8 {
    padding-top: 8rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-8 {
    padding-bottom: 8rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-8 {
    padding-right: 8rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-8 {
    padding-left: 8rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-9 {
    margin-top: 9rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-9 {
    margin-bottom: 9rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-9 {
    margin-right: 9rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-9 {
    margin-left: 9rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-9 {
    padding: 9rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-9 {
    padding-top: 9rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-9 {
    padding-bottom: 9rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-9 {
    padding-right: 9rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-9 {
    padding-left: 9rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-10 {
    margin-top: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-10 {
    margin-bottom: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-10 {
    margin-right: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-10 {
    margin-left: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-10 {
    padding: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-10 {
    padding-top: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-10 {
    padding-bottom: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-10 {
    padding-right: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-10 {
    padding-left: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-11 {
    margin-top: 11rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-11 {
    margin-bottom: 11rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-11 {
    margin-right: 11rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-11 {
    margin-left: 11rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-11 {
    padding: 11rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-11 {
    padding-top: 11rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-11 {
    padding-bottom: 11rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-11 {
    padding-right: 11rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-11 {
    padding-left: 11rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-12 {
    margin-top: 12rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-12 {
    margin-bottom: 12rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-12 {
    margin-right: 12rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-12 {
    margin-left: 12rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-12 {
    padding: 12rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-12 {
    padding-top: 12rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-12 {
    padding-bottom: 12rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-12 {
    padding-right: 12rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-12 {
    padding-left: 12rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-13 {
    margin-top: 13rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-13 {
    margin-bottom: 13rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-13 {
    margin-right: 13rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-13 {
    margin-left: 13rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-13 {
    padding: 13rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-13 {
    padding-top: 13rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-13 {
    padding-bottom: 13rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-13 {
    padding-right: 13rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-13 {
    padding-left: 13rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-14 {
    margin-top: 14rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-14 {
    margin-bottom: 14rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-14 {
    margin-right: 14rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-14 {
    margin-left: 14rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-14 {
    padding: 14rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-14 {
    padding-top: 14rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-14 {
    padding-bottom: 14rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-14 {
    padding-right: 14rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-14 {
    padding-left: 14rem !important;
  }
}

@media (min-width: 768px) {
  .md:mt-15 {
    margin-top: 15rem !important;
  }
}

@media (min-width: 768px) {
  .md:mb-15 {
    margin-bottom: 15rem !important;
  }
}

@media (min-width: 768px) {
  .md:mr-15 {
    margin-right: 15rem !important;
  }
}

@media (min-width: 768px) {
  .md:ml-15 {
    margin-left: 15rem !important;
  }
}

@media (min-width: 768px) {
  .md:p-15 {
    padding: 15rem !important;
  }
}

@media (min-width: 768px) {
  .md:pt-15 {
    padding-top: 15rem !important;
  }
}

@media (min-width: 768px) {
  .md:pb-15 {
    padding-bottom: 15rem !important;
  }
}

@media (min-width: 768px) {
  .md:pr-15 {
    padding-right: 15rem !important;
  }
}

@media (min-width: 768px) {
  .md:pl-15 {
    padding-left: 15rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-1 {
    margin-top: 1rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-1 {
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-1 {
    margin-right: 1rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-1 {
    margin-left: 1rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-1 {
    padding: 1rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-1 {
    padding-top: 1rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-1 {
    padding-bottom: 1rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-1 {
    padding-right: 1rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-1 {
    padding-left: 1rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-2 {
    margin-top: 2rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-2 {
    margin-bottom: 2rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-2 {
    margin-right: 2rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-2 {
    margin-left: 2rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-2 {
    padding: 2rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-2 {
    padding-top: 2rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-2 {
    padding-bottom: 2rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-2 {
    padding-right: 2rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-2 {
    padding-left: 2rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-3 {
    margin-top: 3rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-3 {
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-3 {
    margin-right: 3rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-3 {
    margin-left: 3rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-3 {
    padding: 3rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-3 {
    padding-top: 3rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-3 {
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-3 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-3 {
    padding-left: 3rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-4 {
    margin-top: 4rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-4 {
    margin-bottom: 4rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-4 {
    margin-right: 4rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-4 {
    margin-left: 4rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-4 {
    padding: 4rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-4 {
    padding-top: 4rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-4 {
    padding-bottom: 4rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-4 {
    padding-right: 4rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-4 {
    padding-left: 4rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-5 {
    margin-top: 5rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-5 {
    margin-bottom: 5rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-5 {
    margin-right: 5rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-5 {
    margin-left: 5rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-5 {
    padding: 5rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-5 {
    padding-top: 5rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-5 {
    padding-bottom: 5rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-5 {
    padding-right: 5rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-5 {
    padding-left: 5rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-6 {
    margin-top: 6rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-6 {
    margin-bottom: 6rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-6 {
    margin-right: 6rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-6 {
    margin-left: 6rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-6 {
    padding: 6rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-6 {
    padding-top: 6rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-6 {
    padding-bottom: 6rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-6 {
    padding-right: 6rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-6 {
    padding-left: 6rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-7 {
    margin-top: 7rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-7 {
    margin-bottom: 7rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-7 {
    margin-right: 7rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-7 {
    margin-left: 7rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-7 {
    padding: 7rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-7 {
    padding-top: 7rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-7 {
    padding-bottom: 7rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-7 {
    padding-right: 7rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-7 {
    padding-left: 7rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-8 {
    margin-top: 8rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-8 {
    margin-bottom: 8rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-8 {
    margin-right: 8rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-8 {
    margin-left: 8rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-8 {
    padding: 8rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-8 {
    padding-top: 8rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-8 {
    padding-bottom: 8rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-8 {
    padding-right: 8rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-8 {
    padding-left: 8rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-9 {
    margin-top: 9rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-9 {
    margin-bottom: 9rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-9 {
    margin-right: 9rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-9 {
    margin-left: 9rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-9 {
    padding: 9rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-9 {
    padding-top: 9rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-9 {
    padding-bottom: 9rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-9 {
    padding-right: 9rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-9 {
    padding-left: 9rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-10 {
    margin-top: 10rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-10 {
    margin-bottom: 10rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-10 {
    margin-right: 10rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-10 {
    margin-left: 10rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-10 {
    padding: 10rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-10 {
    padding-top: 10rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-10 {
    padding-bottom: 10rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-10 {
    padding-right: 10rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-10 {
    padding-left: 10rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-11 {
    margin-top: 11rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-11 {
    margin-bottom: 11rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-11 {
    margin-right: 11rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-11 {
    margin-left: 11rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-11 {
    padding: 11rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-11 {
    padding-top: 11rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-11 {
    padding-bottom: 11rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-11 {
    padding-right: 11rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-11 {
    padding-left: 11rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-12 {
    margin-top: 12rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-12 {
    margin-bottom: 12rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-12 {
    margin-right: 12rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-12 {
    margin-left: 12rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-12 {
    padding: 12rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-12 {
    padding-top: 12rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-12 {
    padding-bottom: 12rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-12 {
    padding-right: 12rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-12 {
    padding-left: 12rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-13 {
    margin-top: 13rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-13 {
    margin-bottom: 13rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-13 {
    margin-right: 13rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-13 {
    margin-left: 13rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-13 {
    padding: 13rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-13 {
    padding-top: 13rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-13 {
    padding-bottom: 13rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-13 {
    padding-right: 13rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-13 {
    padding-left: 13rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-14 {
    margin-top: 14rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-14 {
    margin-bottom: 14rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-14 {
    margin-right: 14rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-14 {
    margin-left: 14rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-14 {
    padding: 14rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-14 {
    padding-top: 14rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-14 {
    padding-bottom: 14rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-14 {
    padding-right: 14rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-14 {
    padding-left: 14rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mt-15 {
    margin-top: 15rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mb-15 {
    margin-bottom: 15rem !important;
  }
}

@media (min-width: 992px) {
  .lg:mr-15 {
    margin-right: 15rem !important;
  }
}

@media (min-width: 992px) {
  .lg:ml-15 {
    margin-left: 15rem !important;
  }
}

@media (min-width: 992px) {
  .lg:p-15 {
    padding: 15rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pt-15 {
    padding-top: 15rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pb-15 {
    padding-bottom: 15rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pr-15 {
    padding-right: 15rem !important;
  }
}

@media (min-width: 992px) {
  .lg:pl-15 {
    padding-left: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-1 {
    margin-top: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-1 {
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-1 {
    margin-right: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-1 {
    margin-left: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-1 {
    padding: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-1 {
    padding-top: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-1 {
    padding-bottom: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-1 {
    padding-right: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-1 {
    padding-left: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-2 {
    margin-top: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-2 {
    margin-bottom: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-2 {
    margin-right: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-2 {
    margin-left: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-2 {
    padding: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-2 {
    padding-top: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-2 {
    padding-bottom: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-2 {
    padding-right: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-2 {
    padding-left: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-3 {
    margin-top: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-3 {
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-3 {
    margin-right: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-3 {
    margin-left: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-3 {
    padding: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-3 {
    padding-top: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-3 {
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-3 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-3 {
    padding-left: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-4 {
    margin-top: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-4 {
    margin-bottom: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-4 {
    margin-right: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-4 {
    margin-left: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-4 {
    padding: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-4 {
    padding-top: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-4 {
    padding-bottom: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-4 {
    padding-right: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-4 {
    padding-left: 4rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-5 {
    margin-top: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-5 {
    margin-bottom: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-5 {
    margin-right: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-5 {
    margin-left: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-5 {
    padding: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-5 {
    padding-top: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-5 {
    padding-bottom: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-5 {
    padding-right: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-5 {
    padding-left: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-6 {
    margin-top: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-6 {
    margin-bottom: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-6 {
    margin-right: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-6 {
    margin-left: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-6 {
    padding: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-6 {
    padding-top: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-6 {
    padding-bottom: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-6 {
    padding-right: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-6 {
    padding-left: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-7 {
    margin-top: 7rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-7 {
    margin-bottom: 7rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-7 {
    margin-right: 7rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-7 {
    margin-left: 7rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-7 {
    padding: 7rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-7 {
    padding-top: 7rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-7 {
    padding-bottom: 7rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-7 {
    padding-right: 7rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-7 {
    padding-left: 7rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-8 {
    margin-top: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-8 {
    margin-bottom: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-8 {
    margin-right: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-8 {
    margin-left: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-8 {
    padding: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-8 {
    padding-top: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-8 {
    padding-bottom: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-8 {
    padding-right: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-8 {
    padding-left: 8rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-9 {
    margin-top: 9rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-9 {
    margin-bottom: 9rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-9 {
    margin-right: 9rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-9 {
    margin-left: 9rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-9 {
    padding: 9rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-9 {
    padding-top: 9rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-9 {
    padding-bottom: 9rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-9 {
    padding-right: 9rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-9 {
    padding-left: 9rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-10 {
    margin-top: 10rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-10 {
    margin-bottom: 10rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-10 {
    margin-right: 10rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-10 {
    margin-left: 10rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-10 {
    padding: 10rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-10 {
    padding-top: 10rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-10 {
    padding-bottom: 10rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-10 {
    padding-right: 10rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-10 {
    padding-left: 10rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-11 {
    margin-top: 11rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-11 {
    margin-bottom: 11rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-11 {
    margin-right: 11rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-11 {
    margin-left: 11rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-11 {
    padding: 11rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-11 {
    padding-top: 11rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-11 {
    padding-bottom: 11rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-11 {
    padding-right: 11rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-11 {
    padding-left: 11rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-12 {
    margin-top: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-12 {
    margin-bottom: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-12 {
    margin-right: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-12 {
    margin-left: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-12 {
    padding: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-12 {
    padding-top: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-12 {
    padding-bottom: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-12 {
    padding-right: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-12 {
    padding-left: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-13 {
    margin-top: 13rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-13 {
    margin-bottom: 13rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-13 {
    margin-right: 13rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-13 {
    margin-left: 13rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-13 {
    padding: 13rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-13 {
    padding-top: 13rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-13 {
    padding-bottom: 13rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-13 {
    padding-right: 13rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-13 {
    padding-left: 13rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-14 {
    margin-top: 14rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-14 {
    margin-bottom: 14rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-14 {
    margin-right: 14rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-14 {
    margin-left: 14rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-14 {
    padding: 14rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-14 {
    padding-top: 14rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-14 {
    padding-bottom: 14rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-14 {
    padding-right: 14rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-14 {
    padding-left: 14rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mt-15 {
    margin-top: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mb-15 {
    margin-bottom: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:mr-15 {
    margin-right: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:ml-15 {
    margin-left: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:p-15 {
    padding: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pt-15 {
    padding-top: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pb-15 {
    padding-bottom: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pr-15 {
    padding-right: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .xl:pl-15 {
    padding-left: 15rem !important;
  }
}/*# sourceMappingURL=custom.css.map */