$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$step: 1;
$max-step: 15;

@each $breakpoint, $min-width in $breakpoints {
  @for $i from 1 through $max-step {
    .#{$breakpoint}:mt-#{$i} {
      @media (min-width: $min-width) {
        margin-top: $i * $step + rem !important;
      }
    }

    .#{$breakpoint}:mb-#{$i} {
      @media (min-width: $min-width) {
        margin-bottom: $i * $step + rem !important;
      }
    }

    .#{$breakpoint}:mr-#{$i} {
      @media (min-width: $min-width) {
        margin-right: $i * $step + rem !important;
      }
    }

    .#{$breakpoint}:ml-#{$i} {
      @media (min-width: $min-width) {
        margin-left: $i * $step + rem !important;
      }
    }

    .#{$breakpoint}:p-#{$i} {
      @media (min-width: $min-width) {
        padding: $i * $step + rem !important;
      }
    }

    .#{$breakpoint}:pt-#{$i} {
      @media (min-width: $min-width) {
        padding-top: $i * $step + rem !important;
      }
    }

    .#{$breakpoint}:pb-#{$i} {
      @media (min-width: $min-width) {
        padding-bottom: $i * $step + rem !important;
      }
    }

    .#{$breakpoint}:pr-#{$i} {
      @media (min-width: $min-width) {
        padding-right: $i * $step + rem !important;
      }
    }

    .#{$breakpoint}:pl-#{$i} {
      @media (min-width: $min-width) {
        padding-left: $i * $step + rem !important;
      }
    }
  }
}

// $breakpoint: 576px;
// $step: 1;
// $max-step: 30;

// @for $i from 1 through $max-step {
//   .mt-sm-#{$i} {
//     @media (min-width: $breakpoint) {
//       margin-top: $i * $step + rem !important;
//     }
//   }

//   .mb-sm-#{$i} {
//     @media (min-width: $breakpoint) {
//       margin-bottom: $i * $step + rem !important;
//     }
//   }

//   .mr-sm-#{$i} {
//     @media (min-width: $breakpoint) {
//       margin-right: $i * $step + rem !important;
//     }
//   }

//   .ml-sm-#{$i} {
//     @media (min-width: $breakpoint) {
//       margin-left: $i * $step + rem !important;
//     }
//   }
// }

// @for $i from 0 through 100 {
//   .vw-#{$i} {
//     width: #{$i}vh;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .vw-#{$i} {
//     width: $i * $spacer;
//   }
// }

// $spacer: 0.1rem;
// $spacer-scale: 50;

// @for $i from 0 through $spacer-scale {
//   .p-#{$i} {
//     padding: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .pt-#{$i} {
//     padding-top: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .pb-#{$i} {
//     padding-bottom: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .ps-#{$i} {
//     padding-left: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .pe-#{$i} {
//     padding-right: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .m-#{$i} {
//     margin: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .mt-#{$i} {
//     margin-top: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .mb-#{$i} {
//     margin-bottom: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .ms-#{$i} {
//     margin-left: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .me-#{$i} {
//     margin-right: $i * $spacer;
//   }
// }
