$spacer: 5vh;
$spacer-scale: 20;
$step: 5;

@for $i from 0 through 100 {
  .vh-#{$i} {
    height: #{$i}vh;
  }
}

@for $i from 0 through 100 {
  .vw-#{$i} {
    width: #{$i}vh;
  }
}

// @for $i from 0 through $spacer-scale {
//   .vw-#{$i} {
//     width: $i * $spacer;
//   }
// }

// $spacer: 0.1rem;
// $spacer-scale: 50;

// @for $i from 0 through $spacer-scale {
//   .p-#{$i} {
//     padding: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .pt-#{$i} {
//     padding-top: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .pb-#{$i} {
//     padding-bottom: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .ps-#{$i} {
//     padding-left: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .pe-#{$i} {
//     padding-right: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .m-#{$i} {
//     margin: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .mt-#{$i} {
//     margin-top: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .mb-#{$i} {
//     margin-bottom: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .ms-#{$i} {
//     margin-left: $i * $spacer;
//   }
// }

// @for $i from 0 through $spacer-scale {
//   .me-#{$i} {
//     margin-right: $i * $spacer;
//   }
// }
