.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 0.1rem;
}

.p-2 {
  padding: 0.2rem;
}

.p-3 {
  padding: 0.3rem;
}

.p-4 {
  padding: 0.4rem;
}

.p-5 {
  padding: 0.5rem;
}

.p-6 {
  padding: 0.6rem;
}

.p-7 {
  padding: 0.7rem;
}

.p-8 {
  padding: 0.8rem;
}

.p-9 {
  padding: 0.9rem;
}

.p-10 {
  padding: 1rem;
}

.p-11 {
  padding: 1.1rem;
}

.p-12 {
  padding: 1.2rem;
}

.p-13 {
  padding: 1.3rem;
}

.p-14 {
  padding: 1.4rem;
}

.p-15 {
  padding: 1.5rem;
}

.p-16 {
  padding: 1.6rem;
}

.p-17 {
  padding: 1.7rem;
}

.p-18 {
  padding: 1.8rem;
}

.p-19 {
  padding: 1.9rem;
}

.p-20 {
  padding: 2rem;
}

.p-21 {
  padding: 2.1rem;
}

.p-22 {
  padding: 2.2rem;
}

.p-23 {
  padding: 2.3rem;
}

.p-24 {
  padding: 2.4rem;
}

.p-25 {
  padding: 2.5rem;
}

.p-26 {
  padding: 2.6rem;
}

.p-27 {
  padding: 2.7rem;
}

.p-28 {
  padding: 2.8rem;
}

.p-29 {
  padding: 2.9rem;
}

.p-30 {
  padding: 3rem;
}

.p-31 {
  padding: 3.1rem;
}

.p-32 {
  padding: 3.2rem;
}

.p-33 {
  padding: 3.3rem;
}

.p-34 {
  padding: 3.4rem;
}

.p-35 {
  padding: 3.5rem;
}

.p-36 {
  padding: 3.6rem;
}

.p-37 {
  padding: 3.7rem;
}

.p-38 {
  padding: 3.8rem;
}

.p-39 {
  padding: 3.9rem;
}

.p-40 {
  padding: 4rem;
}

.p-41 {
  padding: 4.1rem;
}

.p-42 {
  padding: 4.2rem;
}

.p-43 {
  padding: 4.3rem;
}

.p-44 {
  padding: 4.4rem;
}

.p-45 {
  padding: 4.5rem;
}

.p-46 {
  padding: 4.6rem;
}

.p-47 {
  padding: 4.7rem;
}

.p-48 {
  padding: 4.8rem;
}

.p-49 {
  padding: 4.9rem;
}

.p-50 {
  padding: 5rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-1 {
  padding-top: 0.1rem;
}

.pt-2 {
  padding-top: 0.2rem;
}

.pt-3 {
  padding-top: 0.3rem;
}

.pt-4 {
  padding-top: 0.4rem;
}

.pt-5 {
  padding-top: 0.5rem;
}

.pt-6 {
  padding-top: 0.6rem;
}

.pt-7 {
  padding-top: 0.7rem;
}

.pt-8 {
  padding-top: 0.8rem;
}

.pt-9 {
  padding-top: 0.9rem;
}

.pt-10 {
  padding-top: 1rem;
}

.pt-11 {
  padding-top: 1.1rem;
}

.pt-12 {
  padding-top: 1.2rem;
}

.pt-13 {
  padding-top: 1.3rem;
}

.pt-14 {
  padding-top: 1.4rem;
}

.pt-15 {
  padding-top: 1.5rem;
}

.pt-16 {
  padding-top: 1.6rem;
}

.pt-17 {
  padding-top: 1.7rem;
}

.pt-18 {
  padding-top: 1.8rem;
}

.pt-19 {
  padding-top: 1.9rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pt-21 {
  padding-top: 2.1rem;
}

.pt-22 {
  padding-top: 2.2rem;
}

.pt-23 {
  padding-top: 2.3rem;
}

.pt-24 {
  padding-top: 2.4rem;
}

.pt-25 {
  padding-top: 2.5rem;
}

.pt-26 {
  padding-top: 2.6rem;
}

.pt-27 {
  padding-top: 2.7rem;
}

.pt-28 {
  padding-top: 2.8rem;
}

.pt-29 {
  padding-top: 2.9rem;
}

.pt-30 {
  padding-top: 3rem;
}

.pt-31 {
  padding-top: 3.1rem;
}

.pt-32 {
  padding-top: 3.2rem;
}

.pt-33 {
  padding-top: 3.3rem;
}

.pt-34 {
  padding-top: 3.4rem;
}

.pt-35 {
  padding-top: 3.5rem;
}

.pt-36 {
  padding-top: 3.6rem;
}

.pt-37 {
  padding-top: 3.7rem;
}

.pt-38 {
  padding-top: 3.8rem;
}

.pt-39 {
  padding-top: 3.9rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pt-41 {
  padding-top: 4.1rem;
}

.pt-42 {
  padding-top: 4.2rem;
}

.pt-43 {
  padding-top: 4.3rem;
}

.pt-44 {
  padding-top: 4.4rem;
}

.pt-45 {
  padding-top: 4.5rem;
}

.pt-46 {
  padding-top: 4.6rem;
}

.pt-47 {
  padding-top: 4.7rem;
}

.pt-48 {
  padding-top: 4.8rem;
}

.pt-49 {
  padding-top: 4.9rem;
}

.pt-50 {
  padding-top: 5rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 0.1rem;
}

.pb-2 {
  padding-bottom: 0.2rem;
}

.pb-3 {
  padding-bottom: 0.3rem;
}

.pb-4 {
  padding-bottom: 0.4rem;
}

.pb-5 {
  padding-bottom: 0.5rem;
}

.pb-6 {
  padding-bottom: 0.6rem;
}

.pb-7 {
  padding-bottom: 0.7rem;
}

.pb-8 {
  padding-bottom: 0.8rem;
}

.pb-9 {
  padding-bottom: 0.9rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

.pb-11 {
  padding-bottom: 1.1rem;
}

.pb-12 {
  padding-bottom: 1.2rem;
}

.pb-13 {
  padding-bottom: 1.3rem;
}

.pb-14 {
  padding-bottom: 1.4rem;
}

.pb-15 {
  padding-bottom: 1.5rem;
}

.pb-16 {
  padding-bottom: 1.6rem;
}

.pb-17 {
  padding-bottom: 1.7rem;
}

.pb-18 {
  padding-bottom: 1.8rem;
}

.pb-19 {
  padding-bottom: 1.9rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.pb-21 {
  padding-bottom: 2.1rem;
}

.pb-22 {
  padding-bottom: 2.2rem;
}

.pb-23 {
  padding-bottom: 2.3rem;
}

.pb-24 {
  padding-bottom: 2.4rem;
}

.pb-25 {
  padding-bottom: 2.5rem;
}

.pb-26 {
  padding-bottom: 2.6rem;
}

.pb-27 {
  padding-bottom: 2.7rem;
}

.pb-28 {
  padding-bottom: 2.8rem;
}

.pb-29 {
  padding-bottom: 2.9rem;
}

.pb-30 {
  padding-bottom: 3rem;
}

.pb-31 {
  padding-bottom: 3.1rem;
}

.pb-32 {
  padding-bottom: 3.2rem;
}

.pb-33 {
  padding-bottom: 3.3rem;
}

.pb-34 {
  padding-bottom: 3.4rem;
}

.pb-35 {
  padding-bottom: 3.5rem;
}

.pb-36 {
  padding-bottom: 3.6rem;
}

.pb-37 {
  padding-bottom: 3.7rem;
}

.pb-38 {
  padding-bottom: 3.8rem;
}

.pb-39 {
  padding-bottom: 3.9rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

.pb-41 {
  padding-bottom: 4.1rem;
}

.pb-42 {
  padding-bottom: 4.2rem;
}

.pb-43 {
  padding-bottom: 4.3rem;
}

.pb-44 {
  padding-bottom: 4.4rem;
}

.pb-45 {
  padding-bottom: 4.5rem;
}

.pb-46 {
  padding-bottom: 4.6rem;
}

.pb-47 {
  padding-bottom: 4.7rem;
}

.pb-48 {
  padding-bottom: 4.8rem;
}

.pb-49 {
  padding-bottom: 4.9rem;
}

.pb-50 {
  padding-bottom: 5rem;
}

.ps-0 {
  padding-left: 0rem;
}

.ps-1 {
  padding-left: 0.1rem;
}

.ps-2 {
  padding-left: 0.2rem;
}

.ps-3 {
  padding-left: 0.3rem;
}

.ps-4 {
  padding-left: 0.4rem;
}

.ps-5 {
  padding-left: 0.5rem;
}

.ps-6 {
  padding-left: 0.6rem;
}

.ps-7 {
  padding-left: 0.7rem;
}

.ps-8 {
  padding-left: 0.8rem;
}

.ps-9 {
  padding-left: 0.9rem;
}

.ps-10 {
  padding-left: 1rem;
}

.ps-11 {
  padding-left: 1.1rem;
}

.ps-12 {
  padding-left: 1.2rem;
}

.ps-13 {
  padding-left: 1.3rem;
}

.ps-14 {
  padding-left: 1.4rem;
}

.ps-15 {
  padding-left: 1.5rem;
}

.ps-16 {
  padding-left: 1.6rem;
}

.ps-17 {
  padding-left: 1.7rem;
}

.ps-18 {
  padding-left: 1.8rem;
}

.ps-19 {
  padding-left: 1.9rem;
}

.ps-20 {
  padding-left: 2rem;
}

.ps-21 {
  padding-left: 2.1rem;
}

.ps-22 {
  padding-left: 2.2rem;
}

.ps-23 {
  padding-left: 2.3rem;
}

.ps-24 {
  padding-left: 2.4rem;
}

.ps-25 {
  padding-left: 2.5rem;
}

.ps-26 {
  padding-left: 2.6rem;
}

.ps-27 {
  padding-left: 2.7rem;
}

.ps-28 {
  padding-left: 2.8rem;
}

.ps-29 {
  padding-left: 2.9rem;
}

.ps-30 {
  padding-left: 3rem;
}

.ps-31 {
  padding-left: 3.1rem;
}

.ps-32 {
  padding-left: 3.2rem;
}

.ps-33 {
  padding-left: 3.3rem;
}

.ps-34 {
  padding-left: 3.4rem;
}

.ps-35 {
  padding-left: 3.5rem;
}

.ps-36 {
  padding-left: 3.6rem;
}

.ps-37 {
  padding-left: 3.7rem;
}

.ps-38 {
  padding-left: 3.8rem;
}

.ps-39 {
  padding-left: 3.9rem;
}

.ps-40 {
  padding-left: 4rem;
}

.ps-41 {
  padding-left: 4.1rem;
}

.ps-42 {
  padding-left: 4.2rem;
}

.ps-43 {
  padding-left: 4.3rem;
}

.ps-44 {
  padding-left: 4.4rem;
}

.ps-45 {
  padding-left: 4.5rem;
}

.ps-46 {
  padding-left: 4.6rem;
}

.ps-47 {
  padding-left: 4.7rem;
}

.ps-48 {
  padding-left: 4.8rem;
}

.ps-49 {
  padding-left: 4.9rem;
}

.ps-50 {
  padding-left: 5rem;
}

.pe-0 {
  padding-right: 0rem;
}

.pe-1 {
  padding-right: 0.1rem;
}

.pe-2 {
  padding-right: 0.2rem;
}

.pe-3 {
  padding-right: 0.3rem;
}

.pe-4 {
  padding-right: 0.4rem;
}

.pe-5 {
  padding-right: 0.5rem;
}

.pe-6 {
  padding-right: 0.6rem;
}

.pe-7 {
  padding-right: 0.7rem;
}

.pe-8 {
  padding-right: 0.8rem;
}

.pe-9 {
  padding-right: 0.9rem;
}

.pe-10 {
  padding-right: 1rem;
}

.pe-11 {
  padding-right: 1.1rem;
}

.pe-12 {
  padding-right: 1.2rem;
}

.pe-13 {
  padding-right: 1.3rem;
}

.pe-14 {
  padding-right: 1.4rem;
}

.pe-15 {
  padding-right: 1.5rem;
}

.pe-16 {
  padding-right: 1.6rem;
}

.pe-17 {
  padding-right: 1.7rem;
}

.pe-18 {
  padding-right: 1.8rem;
}

.pe-19 {
  padding-right: 1.9rem;
}

.pe-20 {
  padding-right: 2rem;
}

.pe-21 {
  padding-right: 2.1rem;
}

.pe-22 {
  padding-right: 2.2rem;
}

.pe-23 {
  padding-right: 2.3rem;
}

.pe-24 {
  padding-right: 2.4rem;
}

.pe-25 {
  padding-right: 2.5rem;
}

.pe-26 {
  padding-right: 2.6rem;
}

.pe-27 {
  padding-right: 2.7rem;
}

.pe-28 {
  padding-right: 2.8rem;
}

.pe-29 {
  padding-right: 2.9rem;
}

.pe-30 {
  padding-right: 3rem;
}

.pe-31 {
  padding-right: 3.1rem;
}

.pe-32 {
  padding-right: 3.2rem;
}

.pe-33 {
  padding-right: 3.3rem;
}

.pe-34 {
  padding-right: 3.4rem;
}

.pe-35 {
  padding-right: 3.5rem;
}

.pe-36 {
  padding-right: 3.6rem;
}

.pe-37 {
  padding-right: 3.7rem;
}

.pe-38 {
  padding-right: 3.8rem;
}

.pe-39 {
  padding-right: 3.9rem;
}

.pe-40 {
  padding-right: 4rem;
}

.pe-41 {
  padding-right: 4.1rem;
}

.pe-42 {
  padding-right: 4.2rem;
}

.pe-43 {
  padding-right: 4.3rem;
}

.pe-44 {
  padding-right: 4.4rem;
}

.pe-45 {
  padding-right: 4.5rem;
}

.pe-46 {
  padding-right: 4.6rem;
}

.pe-47 {
  padding-right: 4.7rem;
}

.pe-48 {
  padding-right: 4.8rem;
}

.pe-49 {
  padding-right: 4.9rem;
}

.pe-50 {
  padding-right: 5rem;
}

.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 0.1rem;
}

.m-2 {
  margin: 0.2rem;
}

.m-3 {
  margin: 0.3rem;
}

.m-4 {
  margin: 0.4rem;
}

.m-5 {
  margin: 0.5rem;
}

.m-6 {
  margin: 0.6rem;
}

.m-7 {
  margin: 0.7rem;
}

.m-8 {
  margin: 0.8rem;
}

.m-9 {
  margin: 0.9rem;
}

.m-10 {
  margin: 1rem;
}

.m-11 {
  margin: 1.1rem;
}

.m-12 {
  margin: 1.2rem;
}

.m-13 {
  margin: 1.3rem;
}

.m-14 {
  margin: 1.4rem;
}

.m-15 {
  margin: 1.5rem;
}

.m-16 {
  margin: 1.6rem;
}

.m-17 {
  margin: 1.7rem;
}

.m-18 {
  margin: 1.8rem;
}

.m-19 {
  margin: 1.9rem;
}

.m-20 {
  margin: 2rem;
}

.m-21 {
  margin: 2.1rem;
}

.m-22 {
  margin: 2.2rem;
}

.m-23 {
  margin: 2.3rem;
}

.m-24 {
  margin: 2.4rem;
}

.m-25 {
  margin: 2.5rem;
}

.m-26 {
  margin: 2.6rem;
}

.m-27 {
  margin: 2.7rem;
}

.m-28 {
  margin: 2.8rem;
}

.m-29 {
  margin: 2.9rem;
}

.m-30 {
  margin: 3rem;
}

.m-31 {
  margin: 3.1rem;
}

.m-32 {
  margin: 3.2rem;
}

.m-33 {
  margin: 3.3rem;
}

.m-34 {
  margin: 3.4rem;
}

.m-35 {
  margin: 3.5rem;
}

.m-36 {
  margin: 3.6rem;
}

.m-37 {
  margin: 3.7rem;
}

.m-38 {
  margin: 3.8rem;
}

.m-39 {
  margin: 3.9rem;
}

.m-40 {
  margin: 4rem;
}

.m-41 {
  margin: 4.1rem;
}

.m-42 {
  margin: 4.2rem;
}

.m-43 {
  margin: 4.3rem;
}

.m-44 {
  margin: 4.4rem;
}

.m-45 {
  margin: 4.5rem;
}

.m-46 {
  margin: 4.6rem;
}

.m-47 {
  margin: 4.7rem;
}

.m-48 {
  margin: 4.8rem;
}

.m-49 {
  margin: 4.9rem;
}

.m-50 {
  margin: 5rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 0.1rem;
}

.mt-2 {
  margin-top: 0.2rem;
}

.mt-3 {
  margin-top: 0.3rem;
}

.mt-4 {
  margin-top: 0.4rem;
}

.mt-5 {
  margin-top: 0.5rem;
}

.mt-6 {
  margin-top: 0.6rem;
}

.mt-7 {
  margin-top: 0.7rem;
}

.mt-8 {
  margin-top: 0.8rem;
}

.mt-9 {
  margin-top: 0.9rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-11 {
  margin-top: 1.1rem;
}

.mt-12 {
  margin-top: 1.2rem;
}

.mt-13 {
  margin-top: 1.3rem;
}

.mt-14 {
  margin-top: 1.4rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mt-17 {
  margin-top: 1.7rem;
}

.mt-18 {
  margin-top: 1.8rem;
}

.mt-19 {
  margin-top: 1.9rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-21 {
  margin-top: 2.1rem;
}

.mt-22 {
  margin-top: 2.2rem;
}

.mt-23 {
  margin-top: 2.3rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mt-25 {
  margin-top: 2.5rem;
}

.mt-26 {
  margin-top: 2.6rem;
}

.mt-27 {
  margin-top: 2.7rem;
}

.mt-28 {
  margin-top: 2.8rem;
}

.mt-29 {
  margin-top: 2.9rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mt-31 {
  margin-top: 3.1rem;
}

.mt-32 {
  margin-top: 3.2rem;
}

.mt-33 {
  margin-top: 3.3rem;
}

.mt-34 {
  margin-top: 3.4rem;
}

.mt-35 {
  margin-top: 3.5rem;
}

.mt-36 {
  margin-top: 3.6rem;
}

.mt-37 {
  margin-top: 3.7rem;
}

.mt-38 {
  margin-top: 3.8rem;
}

.mt-39 {
  margin-top: 3.9rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mt-41 {
  margin-top: 4.1rem;
}

.mt-42 {
  margin-top: 4.2rem;
}

.mt-43 {
  margin-top: 4.3rem;
}

.mt-44 {
  margin-top: 4.4rem;
}

.mt-45 {
  margin-top: 4.5rem;
}

.mt-46 {
  margin-top: 4.6rem;
}

.mt-47 {
  margin-top: 4.7rem;
}

.mt-48 {
  margin-top: 4.8rem;
}

.mt-49 {
  margin-top: 4.9rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 0.1rem;
}

.mb-2 {
  margin-bottom: 0.2rem;
}

.mb-3 {
  margin-bottom: 0.3rem;
}

.mb-4 {
  margin-bottom: 0.4rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.mb-6 {
  margin-bottom: 0.6rem;
}

.mb-7 {
  margin-bottom: 0.7rem;
}

.mb-8 {
  margin-bottom: 0.8rem;
}

.mb-9 {
  margin-bottom: 0.9rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-11 {
  margin-bottom: 1.1rem;
}

.mb-12 {
  margin-bottom: 1.2rem;
}

.mb-13 {
  margin-bottom: 1.3rem;
}

.mb-14 {
  margin-bottom: 1.4rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-17 {
  margin-bottom: 1.7rem;
}

.mb-18 {
  margin-bottom: 1.8rem;
}

.mb-19 {
  margin-bottom: 1.9rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-21 {
  margin-bottom: 2.1rem;
}

.mb-22 {
  margin-bottom: 2.2rem;
}

.mb-23 {
  margin-bottom: 2.3rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.mb-26 {
  margin-bottom: 2.6rem;
}

.mb-27 {
  margin-bottom: 2.7rem;
}

.mb-28 {
  margin-bottom: 2.8rem;
}

.mb-29 {
  margin-bottom: 2.9rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-31 {
  margin-bottom: 3.1rem;
}

.mb-32 {
  margin-bottom: 3.2rem;
}

.mb-33 {
  margin-bottom: 3.3rem;
}

.mb-34 {
  margin-bottom: 3.4rem;
}

.mb-35 {
  margin-bottom: 3.5rem;
}

.mb-36 {
  margin-bottom: 3.6rem;
}

.mb-37 {
  margin-bottom: 3.7rem;
}

.mb-38 {
  margin-bottom: 3.8rem;
}

.mb-39 {
  margin-bottom: 3.9rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-41 {
  margin-bottom: 4.1rem;
}

.mb-42 {
  margin-bottom: 4.2rem;
}

.mb-43 {
  margin-bottom: 4.3rem;
}

.mb-44 {
  margin-bottom: 4.4rem;
}

.mb-45 {
  margin-bottom: 4.5rem;
}

.mb-46 {
  margin-bottom: 4.6rem;
}

.mb-47 {
  margin-bottom: 4.7rem;
}

.mb-48 {
  margin-bottom: 4.8rem;
}

.mb-49 {
  margin-bottom: 4.9rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.ms-0 {
  margin-left: 0rem;
}

.ms-1 {
  margin-left: 0.1rem;
}

.ms-2 {
  margin-left: 0.2rem;
}

.ms-3 {
  margin-left: 0.3rem;
}

.ms-4 {
  margin-left: 0.4rem;
}

.ms-5 {
  margin-left: 0.5rem;
}

.ms-6 {
  margin-left: 0.6rem;
}

.ms-7 {
  margin-left: 0.7rem;
}

.ms-8 {
  margin-left: 0.8rem;
}

.ms-9 {
  margin-left: 0.9rem;
}

.ms-10 {
  margin-left: 1rem;
}

.ms-11 {
  margin-left: 1.1rem;
}

.ms-12 {
  margin-left: 1.2rem;
}

.ms-13 {
  margin-left: 1.3rem;
}

.ms-14 {
  margin-left: 1.4rem;
}

.ms-15 {
  margin-left: 1.5rem;
}

.ms-16 {
  margin-left: 1.6rem;
}

.ms-17 {
  margin-left: 1.7rem;
}

.ms-18 {
  margin-left: 1.8rem;
}

.ms-19 {
  margin-left: 1.9rem;
}

.ms-20 {
  margin-left: 2rem;
}

.ms-21 {
  margin-left: 2.1rem;
}

.ms-22 {
  margin-left: 2.2rem;
}

.ms-23 {
  margin-left: 2.3rem;
}

.ms-24 {
  margin-left: 2.4rem;
}

.ms-25 {
  margin-left: 2.5rem;
}

.ms-26 {
  margin-left: 2.6rem;
}

.ms-27 {
  margin-left: 2.7rem;
}

.ms-28 {
  margin-left: 2.8rem;
}

.ms-29 {
  margin-left: 2.9rem;
}

.ms-30 {
  margin-left: 3rem;
}

.ms-31 {
  margin-left: 3.1rem;
}

.ms-32 {
  margin-left: 3.2rem;
}

.ms-33 {
  margin-left: 3.3rem;
}

.ms-34 {
  margin-left: 3.4rem;
}

.ms-35 {
  margin-left: 3.5rem;
}

.ms-36 {
  margin-left: 3.6rem;
}

.ms-37 {
  margin-left: 3.7rem;
}

.ms-38 {
  margin-left: 3.8rem;
}

.ms-39 {
  margin-left: 3.9rem;
}

.ms-40 {
  margin-left: 4rem;
}

.ms-41 {
  margin-left: 4.1rem;
}

.ms-42 {
  margin-left: 4.2rem;
}

.ms-43 {
  margin-left: 4.3rem;
}

.ms-44 {
  margin-left: 4.4rem;
}

.ms-45 {
  margin-left: 4.5rem;
}

.ms-46 {
  margin-left: 4.6rem;
}

.ms-47 {
  margin-left: 4.7rem;
}

.ms-48 {
  margin-left: 4.8rem;
}

.ms-49 {
  margin-left: 4.9rem;
}

.ms-50 {
  margin-left: 5rem;
}

.me-0 {
  margin-right: 0rem;
}

.me-1 {
  margin-right: 0.1rem;
}

.me-2 {
  margin-right: 0.2rem;
}

.me-3 {
  margin-right: 0.3rem;
}

.me-4 {
  margin-right: 0.4rem;
}

.me-5 {
  margin-right: 0.5rem;
}

.me-6 {
  margin-right: 0.6rem;
}

.me-7 {
  margin-right: 0.7rem;
}

.me-8 {
  margin-right: 0.8rem;
}

.me-9 {
  margin-right: 0.9rem;
}

.me-10 {
  margin-right: 1rem;
}

.me-11 {
  margin-right: 1.1rem;
}

.me-12 {
  margin-right: 1.2rem;
}

.me-13 {
  margin-right: 1.3rem;
}

.me-14 {
  margin-right: 1.4rem;
}

.me-15 {
  margin-right: 1.5rem;
}

.me-16 {
  margin-right: 1.6rem;
}

.me-17 {
  margin-right: 1.7rem;
}

.me-18 {
  margin-right: 1.8rem;
}

.me-19 {
  margin-right: 1.9rem;
}

.me-20 {
  margin-right: 2rem;
}

.me-21 {
  margin-right: 2.1rem;
}

.me-22 {
  margin-right: 2.2rem;
}

.me-23 {
  margin-right: 2.3rem;
}

.me-24 {
  margin-right: 2.4rem;
}

.me-25 {
  margin-right: 2.5rem;
}

.me-26 {
  margin-right: 2.6rem;
}

.me-27 {
  margin-right: 2.7rem;
}

.me-28 {
  margin-right: 2.8rem;
}

.me-29 {
  margin-right: 2.9rem;
}

.me-30 {
  margin-right: 3rem;
}

.me-31 {
  margin-right: 3.1rem;
}

.me-32 {
  margin-right: 3.2rem;
}

.me-33 {
  margin-right: 3.3rem;
}

.me-34 {
  margin-right: 3.4rem;
}

.me-35 {
  margin-right: 3.5rem;
}

.me-36 {
  margin-right: 3.6rem;
}

.me-37 {
  margin-right: 3.7rem;
}

.me-38 {
  margin-right: 3.8rem;
}

.me-39 {
  margin-right: 3.9rem;
}

.me-40 {
  margin-right: 4rem;
}

.me-41 {
  margin-right: 4.1rem;
}

.me-42 {
  margin-right: 4.2rem;
}

.me-43 {
  margin-right: 4.3rem;
}

.me-44 {
  margin-right: 4.4rem;
}

.me-45 {
  margin-right: 4.5rem;
}

.me-46 {
  margin-right: 4.6rem;
}

.me-47 {
  margin-right: 4.7rem;
}

.me-48 {
  margin-right: 4.8rem;
}

.me-49 {
  margin-right: 4.9rem;
}

.me-50 {
  margin-right: 5rem;
}/*# sourceMappingURL=custom.css.map */