body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;

  font-synthesis: none !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
}

#avatar-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.form-check-input {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.dark-theme-true.dropdown-item {
  background-color: white !important;
  color: black !important;
}
