body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;

  font-synthesis: none !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
}

#avatar-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.form-check-input {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.dark-theme-true.dropdown-item {
  background-color: white !important;
  color: black !important;
}

form > div {
  margin-bottom: 1rem;
}

.list-group::-webkit-scrollbar {
  width: 4px; /* Ширина скроллбара */
}
.list-group::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Цвет фона скроллбара */
}
.list-group::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет полосы прокрутки */
  border-radius: 4px; /* Закругление углов полосы прокрутки */
}
.list-group::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет полосы прокрутки при наведении */
}

.list-group-flush::-webkit-scrollbar {
  height: 4px;
}
.list-group-flush::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
.list-group-flush::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.list-group-flush::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  background-color: #888;
  /* border-radius: 4px; */
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body::-webkit-scrollbar {
  height: 7px;
}
body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  background-color: #888;
  /* border-radius: 4px; */
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* @media (max-width: 576px) {
  .border {
    font-size: 12px;
  }
} */
